{{/*
SPDX-FileCopyrightText: 2021 Pablo Marcos <kde@pablomarcos.me>
SPDX-FileCopyrightText: 2022-2023 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Title }}</h1>
  <p>{{ .Description }}</p>

  <div class="d-flex flex-column flex-xxl-row">
    <div>
      <table class="distribution-table">
        <tbody>
        <tr class="title-row">
          <td rowspan="2" width="100" class="text-center">
            <img src="/reusable-assets/tux.png" alt="{{ i18n "download.linux.title" }}" class="src-icon">
          </td>
          <th class="p-2">{{ i18n "download.linux.title" }}</th>
        </tr>
        <tr>
          {{- $appstreamLink := printf "appstream://%s.desktop" .Params.appstream }}
          <td class="p-2">{{ partial "fn/i18n_args" (slice "download.linux.description" .Params.name $appstreamLink) | markdownify }}</td>
        </tr>
        <tr class="title-row">
          <td rowspan="2" width="100" class="text-center">
            <img src="/reusable-assets/flatpak.png" alt="{{ i18n "download.flatpak.title" }}" class="src-icon">
          </td>
          <th class="p-2">{{ i18n "download.flatpak.title" }}</th>
        </tr>
        <tr>
          {{- $flatpakLink := printf "https://flathub.org/apps/details/%s" .Params.appstream }}
          {{- $kdeFlatpakLink := "https://community.kde.org/Guidelines_and_HOWTOs/Flatpak#Applications" }}
          <td class="p-2">{{ partial "fn/i18n_args" (slice "download.flatpak.description" .Params.name $flatpakLink $kdeFlatpakLink) | markdownify }}</td>
        </tr>
        {{ range .Params.sources }}
        <tr class="title-row">
          <td rowspan="2" width="100" class="text-center">
            <img src="{{ .src_icon }}" alt="{{ .name }}" class="src-icon">
          </td>
          <th class="p-2">{{ .name }}</th>
        </tr>
        <tr>
          <td class="p-2">{{ .description | markdownify }}</td>
        </tr>
        {{ end }}
        </tbody>
      </table>

      <h2>{{ i18n "download.install" }}</h2>
      <p>{{ partial "fn/i18n_args" (slice "download.install.platform" .Params.name) | markdownify }}</p>
      <p>{{ partial "fn/i18n_args" (slice "download.install.linux" .Params.name) }}</p>
      <p>{{ i18n "download.install.modular" }}</p>

      <h2>{{ i18n "download.uninstall" }}</h2>
      <p>{{ partial "fn/i18n_args" (slice "download.uninstall.instruction" .Params.name) }}</p>
    </div>
    <div class="ms-3">
      <a href="https://repology.org/project/okular/versions">
        <img src="https://repology.org/badge/vertical-allrepos/okular.svg" alt="{{ i18n "download.packaging_status" }}" />
      </a>
    </div>
  </div>
</main>
{{ end }}
