{{/*
SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "main" }}
<main role="main" class="eco">
  <div class="eco-hero">
    <div class="eco-hero-background"></div>
    <div class="container py-5">
      <h1 class="display-3 my-0">{{ .Title }}</h1>
    </div>
  </div>

  <div class="container py-5">
    <div class="row">
      {{ range .Params.cards }}
        <div class="col-6 col-md-3">
          <div class="card p-3 h-100">
            <div class="d-flex flex-column justify-content-center" style="min-height: 150px">
              <img src="/images/icons/{{ .icon }}" class="card-icon mb-3" />
              <h2 class="mt-0 mb-3 h4">{{ .title }}</h2>
            </div>
            <p>{{ .description | markdownify }}</p>
            <p class="mt-auto"><a href="{{ .link }}" class="learn-more">{{ i18n "learn-more" }}</a></p>
          </div>
        </div>
      {{ end }}
    </div>
    <p class="text-center text-muted mt-4">{{ .Params.card_copyright | markdownify }}</p>
  </div>

  <section class="container py-5" id="eco-certification">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="/images/rees-en.svg" class="w-100" />
      </div>
      <div class="col-12 col-md-6">
        <h2 class="mt-0">{{ .Params.certification.text }}</h2>
        {{ .Params.certification.description | markdownify }}
      </div>
    </div>
  </section>

  <section class="section-blue" id="energy-efficiency">
    <div class="container py-5 ">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="mt-0">{{ .Params.energy.text }}</h2>
          {{ .Params.energy.description | markdownify }}
        </div>
        <div class="col-12 col-md-6">
          <img src="https://eco.kde.org/images/labplot_live-measurement.webp" class="w-100" />
        </div>
      </div>
    </div>
  </section>

  <section id="user-autonomy">
    <div class="container py-5 ">
      <div class="row">
        <div class="col-12 col-md-6">
          <p align="center"><video style="max-width:750px;width:100%" controls=""><br><source src="https://cdn.kde.org/promo/Eco/Videos/KDE-eco-video.mp4"><br>Your browser does not support the video tag.<br></video><br><a href="https://spdx.org/licenses/CC-BY-SA-4.0.html">Creative Commons Attribution-ShareAlike 4.0 International Public License</a></p>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="mt-0">{{ .Params.user.text }}</h2>
          {{ .Params.user.description | markdownify }}
        </div>
      </div>
    </div>
  </section>

  <section class="section-blue" id="ethics-privacy">
    <div class="container py-5 ">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="mt-0">{{ .Params.ethics.text }}</h2>
          {{ .Params.ethics.description | markdownify }}
        </div>
        <div class="col-12 col-md-6">
          <img src="https://eco.kde.org/images/karl-pawlowicz-QUHuwyNgSA0-unsplash.webp" class="w-100" />
        </div>
      </div>
    </div>
  </section>

  <section class="text-center container py-5" id="eco">
    <img src="https://eco.kde.org/logo-150x150.png" height="70" width="70" />
    <h2 class="mt-0">{{ .Params.eco.text }}</h2>
    <p>{{ .Params.eco.description | markdownify }}</p>
    <a href="https://eco.kde.org/get-involved/" class="btn btn-success">{{ i18n "getinvolved.title" }}</a>
  </section>

  <section class="section-blue py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h2>{{ .Params.path.title }}</h2>
          <p>{{ .Params.path.description1 | markdownify }}</p>
          <div style="float:right; max-width: 600px">
            <figure>
              <img src="https://eco.kde.org/images/okular-main_w_logos_cleantitle.webp" class="w-100"/>
              <br />
              <figcaption>
                <center>Okular was awarded the Blue Angel ecolabel in 2022.</center>
              </figcaption>
            </figure>
          </div>
          {{ .Params.path.description2 | markdownify }}
          <div class="ps-2" style="float:left; max-width: 420px">
            {{ if ne .Language.Lang "de" }}
              <div class="h4 me-4 mt-2">{{ .Params.path.quote_en | markdownify }}</div>
            {{ end }}
            <div class="h6 me-5 mt-0 mb-1">{{ .Params.path.quote_de | markdownify }}</div>
            <span>--Marina Köhn, <a href="https://taz.de/Nachhaltige-Computerprogramme/!5838376">"Blauer Engel für Software"</a>, taz (2022-03-16)</span>
          </div>
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
